<%- include("partials/header.ejs") %>

    <div class="project-display">

      <div class="cover">
        <a href="/project-category/completed" class="type">
          COMPLÉTÉ
        </a>

        <a href="/project-category/encours" class="type">
            EN COURS
        </a>

        <a href="/project-category/design" class="type">
            DESIGN D'INTÉRIEUR
        </a>
      </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  </body>
  
</html>